@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Nova+Mono');

$paragraph-font: 'Anonymous Pro', monospace;

$heading-font: 'Nova Mono', monospace;

html, body {
    background: #fff;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(37, 37, 34, 1);
    color: rgba(255,255,255, 0.9);
    font-family: $paragraph-font;
}

.intro{
	 height: 100%;
	 width: 100%;
	 margin: auto;
	 background: url(img/artbk.jpg) no-repeat 50% 50%;
	 background-size: cover;
	 top: 0;
}

/* Start Navigation */

nav {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    position: fixed;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    background-color:rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid black;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    z-index: 5000;
}

nav *  {
    box-sizing: border-box;
    transition: all 0.35s ease;
}
nav ul {
  padding-left: 35%;
}
nav li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
}

nav a {
  padding: .5em 0.8em;
  color: rgba(255,255,255);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.navSight a:before,
.navSight a:after {
    height: 14px;
    width: 14px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    opacity: 0;
}

.navSight a:before {
    right: 0;
    top: 0;
    border-right: 3px solid white;
    border-top: 3px solid white;
    transform: translate(-100%, 50%);
}

.navSight a:after {
    left: 0;
    bottom: 0;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    transform: translate(100%, -50%);
}

a:hover:before,
a:hover:after {
    transform: translate(8%, 0%);
    opacity: 1;
}

h1.mainName {
  width: 50%;
	font-family: 'Playfair Display', serif;
	font-size: 300%;
	font-weight: 700;
	color: #FFF;
  text-align: right;
	text-shadow: 2px 2px 45px #000000;
  float: left;
  margin: 0 auto;
}

h2.mainTitle {
  text-shadow: 2px 2px 7px #fff;
  color: #000000;
  font-family: 'Playfair Display', sans-serif;
  font-size: 165%;
  width: 48%;
  padding-top: 72px;
  float: right;
  margin: 0 auto;
  position: relative;
}

.content {
	font-family: 'Playfair Display', serif;
  width: 100%;
  height: 59%;
  position: relative;
  right: 20rem;
  margin: 0 auto;
  font-size: 170%;
  padding-top: 270px;
}

.gitLink{
  display: inline-flex;
  list-style: none;
  margin: auto;
  position: relative;
  right: 1rem;
  top: 1rem;
  font-size: 200%;
  padding: 0 1rem;

  li {
    position: relative;
    right: 100px;
    padding: 0px 25px;
    margin: 0 auto;

    i {
      color: rgba(0, 22, 40, 1);
    }

    :hover {
      font-weight: bold;
      text-shadow: 3px 3px 15px white;
      transition: 0.3s;
    }
  }
}

.about{
  text-align: center;
  margin: 5% 15%;
}

.bioWrapper{
  background: black;
  padding: 1rem;
  border-radius: 3rem 1rem;
  margin-bottom: 4rem;
}

.describe{
  display: flex;
  flex-direction: row;
  padding: 0;
}

#profilePic {
  margin: 1rem;
  position: relative;
  bottom: 30px;
  border: 1px solid white;
  justify-content: flex-end;
}

#bio {
  justify-content: flex-start;
  margin: 0 1rem;
}

.heading {
  text-align: center;
  font-family: $heading-font;
  font-weight: 200;
  font-size: 200%;
  text-decoration: underline;
}

.atribute {
  margin: 1.5rem;
  margin-bottom: 3.5rem;
  padding: 2rem;
  background: rgba(0, 0, 0, 1);
  border-radius: 1rem;
  width: 215px;
  height: 250px;
  font-family: monospace;
}

.atributes{
  font-weight: bolder;
  display: flex;
  justify-content: space-evenly;

  i {
  font-size: 300%;
 }
}


.card {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 1);
  border-radius: 1rem;
  border: 2px solid black;
  text-align: center;
  width: 44%;
  padding: 5px;

  h2{
  background-color: rgba(255, 255, 0, 0.9);
  font-family: monospace;
  font-size: 200%;
  margin-top: 0;
  padding: 1rem;
 }

 p{
   padding: 0 1rem;
 }
}

.tech i {
  font-size: 150%;
  vertical-align: baseline;
}

.languages {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3.5rem;
}

.titles {
  background: rgba(0, 22, 40, 0.7);
    padding: 1rem;
    border-radius: 1rem 3rem;
    font-family: monospace;
    border: 2px solid black;
    strong {
      text-decoration: underline;
      padding-bottom: 2rem;
    }
}

.projects{
  margin: auto;
  text-align: center;
  margin: 0 12.5rem;
  background-color: rgba(0, 22, 40, 0.7);
  padding: .5rem;
  border-radius: 3rem;
  margin-bottom: 4rem;

   h2, p {
     color: rgba(255, 255, 255, 1);
   }
}

.flexProj {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.one-third-port{
 display: flex;
 flex-direction: row;
 justify-content: center;
 flex-wrap: wrap;
 align-items: flex-start;
 margin: auto;
 background: black;
 border-radius: 2rem;
 margin: 1.5rem auto;
}

.projCard {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 1);
  border-radius: 10px;
  border: 2px solid black;
  margin: 2rem;
  padding: 1rem;
  width:287px;
  box-shadow: 4px 6px 9px rgba(0, 0, 0, 0.5);

  h2 {
    background-color: rgba(255, 255, 0, 0.9);
    font-family: monospace;
    font-size: 200%;
    color: rgba(0, 0, 0, 1);
    margin-top: 0;
    padding: 1rem;
    border-radius: 10px;
  }

  li {
    text-align: left;
    padding: .5rem 0;

     a{
       text-decoration: none;
       color: black;
       font-weight: bold;
      }

      :hover {
        text-decoration: underline;
        transition: 0.4s;
    }
  }
}

#realtor {
  flex-direction: row-reverse;
}

.one-third-port img {
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem;
}

/* This hover is currently hard to see and hould be updated */
.one-third-port img:hover {
  box-shadow: 0px 8px 6px -9px rgba( 0, 0, 0, 0.6);
}

.container {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: max-content;
  margin: auto;

  i {
    font-size: 200%;
    padding: 1rem;
    color: black;
  }
}

.contactWrapper{
  text-align: center;
  margin: 0 15%;
}

.contact {
  background-color: rgba(0, 22, 40, 0.7);
  border-radius: 3rem;
  padding: 1rem;
  margin: 4rem 0;
}

input, textarea {
  display: block;
  margin: 0 auto;
  width: 80%;
  padding: 1rem;
  border-radius: 5px;
}

  textarea {
    height: 120px;
}
button[type="submit"] {
  cursor: pointer;
  width: 25%;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 0, 0.9);
  color: black;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}
button[type="submit"]:hover {
  background-color: rgba(250, 250, 0, 0.9);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
footer{
  width: 100%;
  height: 30px;
  margin: auto;
  padding-top: 10px;
  text-align: center;
  background-color: rgba(0,0,0, 0.7)
}

@media only screen and (min-width: 300px) and
 (max-width: 767px){


   nav ul, nav:active ul{
     display:none;
     padding: 8px 0;
     left: 65px;
     top: 60px;
     width: 100%;
     z-index: 1000;
   }
    nav:hover ul{
     display: block;
     position: absolute;
   }
   #menu-icon {
     top: 0;
     left: 0;
     width: 30px;
     height:26px;
     background: url(img/nav-icon.png) center;
     display: inline-block;
   }

   .content {
     width: auto;
     position: static;
     font-size: 140%;
   }

   .gitlink {
     display: none;
   }
    .about {
      margin: 5% 5%;
    }

    #profilePic {
      position: static;
    }

    .bioWrapper {
      margin-bottom: 1.5rem;
    }

    .describe {
      flex-direction:column;
    }

    .languages {
      flex-direction: column;
      margin-top: auto;
    }
    .card {
      width: auto;
      margin: 1.5rem 0;
    }
    .atributes {
      flex-direction: column;
      margin-top: 1rem;
    }
    .atribute {
      width: auto;
      margin: 1rem 0;
    }

    .projects {
      margin: 2rem auto;
      padding: 5%;
    }

    .one-third-port {
      width: 100%;

      img {
        height: auto;
        max-width: 80%;
      }
    }

    .projCard {
      margin: 0 2rem 2rem 2rem;
    }

    .contactWrapper {
       margin: auto;
       .contact {
         margin: 2rem 0;
       }
    }
 }
