html, body {
    background: #212121;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.intro{
	height: 100vh;
	width: 100%;
	margin:auto;
	background: url(img/paint.jpg) no-repeat 50% 50%;
	background-size: cover;
	display: table;
	top: 0;
}

/* Start Navigation */

nav {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    position: fixed;
    height: 100px;
    width: 100%;
    margin-left: 25%;
    box-sizing: border-box;
}

nav *  {
    box-sizing: border-box;
    transition: all 0.35s ease;
}

nav li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
}

nav a {
  padding: .5em 0.8em;
  color: rgba(255,255,255);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.navSight a:before,
.navSight a:after {
    height: 14px;
    width: 14px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    opacity: 0;
}

.navSight a:before {
    right: 0;
    top: 0;
    border-right: 3px solid black;
    border-top: 3px solid black;
    transform: translate(-100%, 50%);
}


.navSight a:after {
    left: 0;
    bottom: 0;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    transform: translate(100%, -50%);
}

a:hover:before,
a:hover:after {
    transform: translate(8%, 0%);
    opacity: 1;
}
/* for mobile media query */
/* nav ul, nav:active ul{
	display:none;
	padding: 8px 0;
	left: 65px;
	top: 60px;
	width: 100%;
	z-index: 1000;
}
 nav:hover ul{
	display: block;
	position: absolute;
}
#menu-icon {
  top: 0;
  left: 0;
	width: 30px;
	height:26px;
	background: url(img/nav-icon.png) center;
  display: inline-block;
} */

/* End Navigation */

/* .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
} */
h1.mainName {
  width: 50%;
	font-family: 'Playfair Display', serif;
	font-size: 300%;
	font-weight: 700;
	color: #FFF;
  text-align: right;
	text-shadow: 2px 2px 45px #000000;
  vertical-align: middle;
  float: left;
  margin: 0 auto;
}

h2.mainTitle {
  text-shadow: 2px 2px 7px #fff;
  color: #000000;
  font-size: 170%;
  width: 48%;
  padding-top: 72px;
  float: right;
  margin: 0 auto;
}


.content {
	font-family: 'Playfair Display', serif;
  max-width: 100%;
  margin: 0 auto;
  font-size: 170%;
  padding-top: 250px;
}

.about{
  text-align: center;
  margin: 5% 25%;
}

.languages li {
  list-style: none;
  display: inline-block;
  margin: auto;
  font-size: 300%;
}
