html, body {
    background: #fff;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.intro{
	height: 100%;
	width: 100%;
	margin: auto;
	background: url(img/artbk.jpg) no-repeat 50% 50%;
	background-size: cover;
	top: 0;
}

/* Start Navigation */

nav {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    position: fixed;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    background-color:rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid black;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

nav *  {
    box-sizing: border-box;
    transition: all 0.35s ease;
}
nav ul {
  padding-left: 35%;
}
nav li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
}

nav a {
  padding: .5em 0.8em;
  color: rgba(255,255,255);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.navSight a:before,
.navSight a:after {
    height: 14px;
    width: 14px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    opacity: 0;
}

.navSight a:before {
    right: 0;
    top: 0;
    border-right: 3px solid black;
    border-top: 3px solid black;
    transform: translate(-100%, 50%);
}


.navSight a:after {
    left: 0;
    bottom: 0;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    transform: translate(100%, -50%);
}

a:hover:before,
a:hover:after {
    transform: translate(8%, 0%);
    opacity: 1;
}
/* for mobile media query */
/* nav ul, nav:active ul{
	display:none;
	padding: 8px 0;
	left: 65px;
	top: 60px;
	width: 100%;
	z-index: 1000;
}
 nav:hover ul{
	display: block;
	position: absolute;
}
#menu-icon {
  top: 0;
  left: 0;
	width: 30px;
	height:26px;
	background: url(img/nav-icon.png) center;
  display: inline-block;
} */

/* End Navigation */


h1.mainName {
  width: 50%;
	font-family: 'Playfair Display', serif;
	font-size: 300%;
	font-weight: 700;
	color: #FFF;
  text-align: right;
	text-shadow: 2px 2px 45px #000000;
  float: left;
  margin: 0 auto;
}

h2.mainTitle {
  text-shadow: 2px 2px 7px #fff;
  color: #000000;
  font-size: 170%;
  width: 48%;
  padding-top: 72px;
  float: right;

  margin: 0 auto;
  position: relative;
}


.content {
	font-family: 'Playfair Display', serif;
  max-width: 100%;
  height: 100%;
  position: static;
  margin: 0 auto;
  font-size: 170%;
  padding-top: 270px;
  border: 1px solid #000000;
}
.gitLink{
  display: inline-flex;
  list-style: none;
  margin: auto;
  position: relative;
  right: 1rem;
  top: 1rem;
  font-size: 200%;
  padding: 0 1rem;
}
.gitLink li {
  position: relative;
  right: 100px;
  padding: 0px 25px;
}

.about{
  text-align: center;
  margin: 5% 25%;
}

#hello {
  text-align: center;
  font-weight: 200;
  font-size: 200%;
  text-decoration: underline;
}
.codes {
  background-color: rgba(235, 0, 0, 0.7);
  border-radius: 15px;
}
.languages li {
  list-style: none;
  display: inline-block;
  margin: auto;
  font-size: 300%;
}

.projects{

}
.connect {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  position: relative;
}
.connect ul{
  padding-right: 2rem;
}
.connect ul li{
  width: auto;
  list-style: none;
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 0 auto;
  font-size: 300%;
  padding: 5%;
}
.contact{
  position: relative;
  display: block;
  width: 49%;
}
